* {
    background-color: #f9f9f8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    color: #001e68;
    margin-top: 40px;
}

h3 {
    font-size: 1.5em;
    font-weight: 100;
    color: #4285f4;
}

p {
    margin-top: -12px;
}

article {
    margin-top: 100px;
    padding: 0 20px;
    line-height: 1.5em;
}

#photos-container {
    position: sticky;
    display: flex;
    flex-direction: row;
    bottom: 0;
    background-color: transparent;
}

.img1 {
    height: 100px;
    width: auto;
    opacity: 0.3;
    transform: scale(1);
    transition: all 0.5s;
    background-color: transparent;
}

.active {
    opacity: 1;
    transform: scale(2);
    transition: all 0.5s;
}

.img2 {
    height: 100px;
    width: auto;
    opacity: 0.3;
    transform: scale(1);
    transition: all 0.5s;
    background-color: transparent;
}

.active {
    opacity: 1;
    transform: scale(2);
    transition: all 0.5s;
}

.img3 {
    height: 100px;
    width: auto;
    opacity: 0.3;
    transform: scale(1);
    transition: all 0.5s;
    background-color: transparent;
}

.active {
    opacity: 1;
    transform: scale(2);
    transition: all 0.5s;
}

.img4 {
    height: 100px;
    width: auto;
    opacity: 0.3;
    transform: scale(1);
    transition: all 0.5s;
    background-color: transparent;
}

.active {
    opacity: 1;
    transform: scale(2);
    transition: all 0.5s;
}

.img5 {
    height: 100px;
    width: auto;
    opacity: 0.3;
    transform: scale(1);
    transition: all 0.5s;
    background-color: transparent;
}

.active {
    opacity: 1;
    transform: scale(2);
    transition: all 0.5s;
}