* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'playfair display';
}
#top-container {
	position: relative;
	height: 667px;
	background-size: cover;
	/*background-color: red;*/
}
.logo {
	position: relative;
	width: 20%;
	height: auto;
	margin-top: 20px;
	margin-left: 20px;
}
.nav-bar{
	float: right;
}
.nav-bar i{
	margin-right: 16px;
	color: #f9f9f8;
}
button{
	height: 44px;
	width: 120px;
	background-color: #A3472A;
	border-radius: 4px;
	margin-top: 30px;
	margin-right: 20px;
	border-style: none;
}
button i {
	font-size: 16px;
	color: #f9f9f8;
	margin-right: 16px;
}
button h4{
	font-size: 12px;
	color: #f9f9f8;
	display: inline-block;
}
.nav-text{
/*	position: absolute;*/
	margin-top: 120px;
	margin-left: 20px;
}
.nav-text h5{
	font-size: 12px;
	color: #F9F9F8;
	font-weight: 300;
}
.nav-text h1{
	font-size: 40px;
	color: #F9F9F8;
}
.nav-text h6{
	font-size: 10px;
	color: #F9F9F8;
	font-weight: 300;
	padding-top: 16px;
	text-decoration: underline;	
}
#progressbar {
	position: relative;
	background-color: #F9F9F8;
	opacity: 0.6;
	border-radius: 20px;
	margin-top: 48px;
	width: 80%;
}
#progressbar > div {
	background-color: #A3472A;
	width: 20%;
	height:2px;
	border:2px solid #A3472A;
	border-radius: 10px;
}
.photo-gallery {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow: hidden;
	margin-top: 5%;
	margin-left: 12px;
}
.flex-item{
	margin: 0 10px;
}
.photo-gallery img {
	height: auto;
	width: 240px;
}
/*featured events*/
.event-contianer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
}
.event-contianer > div{
	height:420px;
	width: 340px;
	border: 0.5px solid #A3472A;
}
.event-contianer >div:nth-child(2){
	margin-top: 20px;
}
.event-contianer >div:nth-child(3){
	margin-top: 20px;
}
.event-item > img {
	height: 240px;
	width: 340px;
	object-fit: cover;
}
.event-item > h3{
	font-size: 16px;
	color: #483C38;
	margin-top: 12px;
	text-align: left;	
	margin-left: 6px;
}
.event-item > h6 {
	margin-top: 12px;
	font-size: 10px;
	color: #483C38;
	margin-left: 6px;
}
.event-item > h4 {
	margin-top: 4px;
	font-size: 14px;
	color: #948681;
	margin-left: 6px;
}
.title {
	font-size: 32px;
	text-align: center;
	margin-top: 32px;
}
@media all and (min-width:680px ) {
.event-contianer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.event-contianer > div{
	height:420px;
	width: 340px;
	border: 0.5px solid #A3472A;
}
.event-contianer >div:nth-child(2){
	margin-top: 0;
	margin-left: 16px;
	margin-right: 8px;
}
.event-contianer >div:nth-child(3){
	margin-top: 0;
	margin-left: 8px;
	margin-right: 8px;
}
}
.exhibit {
	position: relative;
}
.exhibit-left {
	/*width: 300px;
	height: 400px;*/
	/*background-color: yellow;*/
	position: relative;
	margin-left: 5%;
	margin-top: 16px;
}
.exhibit-left > img {
	width: 300px;
	height: auto;
	box-shadow: 40px 40px #A3472A;
}
.exhibit-left > h5 {
	font-size: 10px;
	color: #483C38;
	margin-top: 40px;
}
.exhibit-left > h3 {
	font-size: 24px;
	color: #483C38;
	font-weight: 900;
}
.exhibit-left > h6 {
	font-size: 10px;
	color: #483C38;
	margin-top: 16px;
}
.exhibit-right {
	width: 300px;
	height: 400px;
	/*background-color: yellow;*/
	float: right;
	margin-right: 5%;
	margin-top: 16px;
}
.exhibit-right > img {
	width: 300px;
	height: auto;
	box-shadow: -40px 40px  #A3472A;
}
.exhibit-right > h5{
	font-size: 10px;
	color: #483C38;
	margin-top: 40px;
	text-align: right;
}
.exhibit-right > h3 {
	font-size: 24px;
	color: #483C38;
	font-weight: 900;
	text-align: right;
}
.exhibit-right > h6 {
	font-size: 10px;
	color: #483C38;
	margin-top: 16px;
	text-align: right;
}
@media all and (min-width:680px ) {
.exhibit-left {
	position: relative;
	margin-left: 5%;
	margin-top: 16px;
}	
.exhibit-left > img {
	width: 60%;
	height: auto;
	box-shadow: 40px 40px #A3472A;
}
.exhibit-left > h5 {
	font-size: 14px;
	color: #483C38;
	margin-top: 40px;
}
.exhibit-left > h3 {
	font-size: 32px;
	color: #483C38;
	font-weight: 900;
}
.exhibit-left > h6 {
	font-size: 16px;
	color: #483C38;
	margin-top: 16px;
	text-decoration: underline;
}
.exhibit-right > img {
	position: relative;
	right: 100%;
	width: 200%;
	height: auto;
	box-shadow: -40px 40px  #A3472A;
	overflow: hidden;
}
.exhibit-right > h5{
    position: absolute;
	font-size: 14px;
	color: #483C38;
	text-align: right;
	right: 5%;
}
.exhibit-right > h3 {
	position: absolute;
	margin-top: 60px;
	font-size: 32px;
	color: #483C38;
	font-weight: 700;
	text-align: right;
	right: 5%;
}
.exhibit-right > h6 {
	position: absolute;
	font-size: 16px;
	color: #483C38;
	margin-top: 120px;
	text-align: right;
	right: 5%;
	text-decoration: underline;
}
}
/*video*/
.video-container {
	position: absolute;
	top: 430%;
	height: auto;
	width: auto;
	background-color: #DFBEB4;
}
.video-container > img {
	height: auto;
	width: 100%;
	margin-top: 16px;
}
.video-container > h3 {
	margin-top: 16px;
	font-size: 24px;
}
.video-container > h5{
	margin-top: 16px;
	font-size: 16px;
}
.video-container > h6{
	margin-top: 8px;
	font-size: 12px;
	text-decoration: underline;
}


