*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: geneva;
	background-color: #F8F9F9;
}

.nav-container {
	display: flex;
	flex-direction: row;
}
.nav-container img {
	width: 96px;
	height: 105px;
	margin-left: 60px;
	margin-top: 20px;
}

.nav-container .flex-items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 90px;
	margin-left: auto;
	margin-right: -290px;
	list-style: none;
	height: 30px;
	
}

.nav-container .flex-items .flex-item {
	padding: 0 20px;
}


.nav-container .flex-items .flex-item a {
	text-decoration: none;
	list-style: none;
	color: #161616;
}
input {
	display: inline-block;
	width: 278px;
	height: 40px;
	border-radius: 4px;
	background-color: #ECECEC;
	opacity: 0.7;
	margin-right: 60px;
	margin-top: 40px;
	border-style: none;
	font-size: 14px;
	padding-left: 8px;
}
/*CAROUSE*/
.carousel-container {
	width: 964px;
	height:447px;
	position: relative;
	top: 20px;
	margin: auto;
	
}

.mySlides {
	display: none;
}

.prev {
	position: absolute;
	top: 50%;
	margin-left: 150px;
}
.next {
	position: absolute;
	top: 50%;
	margin-left: 1170px;
}

/*CARDS*/
span .title {
	font-size: 28px;
	text-align: right;
	margin-top: 40px;
	margin-right: 158px;
	
}
.logos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 20px 160px 0 160px;	
}
span .title2 {
	font-size: 28px;
	text-align: left;
	margin-left: 158px;
	margin-top: 80px;
	
}
.cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
.card {
	height: 450px;
	width: 278px;
	margin: 40px 16px 0 16px;
	box-shadow: rgba(0.2 0.2 0.2 #161616);
}
.card .cardimage {
	height: auto;
	width: 100%;	
}
.card h4 {
	padding-top: 8px;
	padding-left: 8px;
	font-size: 16px;
	color: #161616;
}
.card h6 {
	font-size: 14px;
	color: #7C7C7C;
	padding-top: 8px;
	padding-left: 8px;
	line-height: 1.5em;
}
/*APP*/
span .title3 {
	font-size: 28px;
	text-align: left;
	margin-left: 158px;
	margin-top: 20px;	
}
.title3-des {
	width: 400px;
	height: 78px;
	margin-left: 158px;
	margin-top: 8px;
	line-height: 1.5em;
	color: #7C7C7C;
}
.app img {
	margin-left: 158px;
	margin-top: 40px;
	position: relative;
}
.description {
	display: inline-block;
	position: absolute;
	margin-left: 40px;
	margin-top: 40px;
}

.fa-check-circle {
	font-size: 30px;
	color: #F95738;
	margin: 0 20px 60px 0;
}
.des-card h4 {
	display: inline-block;
	font-size: 14px;
	color: #F95738;
	background-color: #FCC3B8;
	padding: 16px;
	box-shadow: 6px 6px 6px #FCC3B8;	
}
/*VIDEO*/
.title4 {
	font-size: 28px;
	text-align: right;
	margin-top: 40px;
	margin-right: 158px;	
}
.video img {
	float: right;
	margin-right: 158px;	
	margin-top: 20px;
}
.video-text {
	position: relative;
	margin-left: 150px;
	width: 400px;
	height: 150px;
}

.title5 {
	position: relative;
	font-size: 20px;
	text-align: right;
	margin-top: 60px;
}
.video-text p {
	font-size: 16px;
	color: #7C7C7C;
	text-align: right;
	margin-top: 20px;
}
/*SIGNUP*/
.signup {
	margin-top: 80px;
	height: 500px;
	width: 100%;
	background-color: #F95738;
	clear: both;
	position: relative;
	overflow: auto;
	
}
.signup-form {
	position: absolute;
	margin-top: 60px;
	margin-left: 158px;
	background-color: inherit;
	
}
.signup-title{
	position: absolute;
	margin-top: 20px;
	background-color: inherit;
	font-size: 32px;
	width: 600px;
}
.signup-form-detail {
	background-color: inherit;
	position: absolute;
	top: 100px;
}
label  {
	font-size: 14px;
	color: #161616;
	background-color: inherit;
	position: absolute;
	margin-top: 16px;
	
}
.signup-form-detail input {
	position: relative;
	display: block;
	width: 460px;
	height: 48px;
	background-color: #FCC3B8;
	opacity: 0.5;
		
}
button {
	background-color: #161616;
	color: #F8F9F9;
	height: 48px;
	width: 180px;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 4px;
	margin-top: 60px;
	border: hidden;
}
.signup img {
	float: right;
	width: auto;
	height: 100%;
}
/*FOOTER*/
footer {
	width: 100%;
	height: 300px;
	background-color: #ECECEC;
	display: flex;
	justify-content: center;
	background-color: inherit;
}

footer .footer-logo {
	margin: 60px 40px 40px 40px;
	width: 120px;
	height: auto;
}
footer p {
	width: 220px;
	height: 78px;
	text-align: right;
	margin: 100px 40px 40px 40px;
}

.social-icons {
	margin: 120px 40px 40px 40px;
}

